body {
  text-align: center;
  font-family: Helvetica;

}
.image {
  background-image: url("/broadway/images/the-flatiron-building.png");
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
a {
  color: white;
}
p.white {
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p.tiny {
  font-size: 14px;
}
.footer {
  text-align: left;
  font-size: 11px;

}
.dimgray {
  background color: dimgray;

}
