body {
  text-align: center;
  font-family: Helvetica;

}
.image {
  background-image: url("/broadway/images/the-flatiron-building.png");
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
p.white {
  color: white;
}
